@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  font:20px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 50px;
}
.body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.row{
  margin: 0;
}
#resume {
  background-image: url(../images/coding-desk.jpg);
  height: 300px; 
  background-position: center 700px;
  background-size: cover;
}
#projects {
  background-image: url(../images/blueprint.png);
  height: 300px; 
  background-position: center center;
  background-size: cover;
}
#home {
  background-image: url(../images/university-of-rochester-library.jpg);
  height: 500px; 
  background-position: center center;
  background-size: cover;
}
#blog {
  background-image: url(../images/hacker-code.jpeg);
  height: 300px; 
  background-position: center 51px;
}
#photography {
  background-image: url(../images/parliament.jpg);
  height: 500px; 
  background-position: center bottom;
  background-size: cover;
}
.banner {
  background-attachment: fixed;
}
.darken {
  background-color: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-box-direction: column;
  -ms-flexbox-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content:center;
}
.darken button, .darken img{
  box-shadow: 0px 0px 15px #222;
}
.darken p {
  text-shadow: 0px 0px 15px #222;
}
.darken>h1, .darken>h3{
  color: #eee;
  text-shadow: 0px 0px 15px #222;
}
.btn-github{
  background-color: #333;
  border-color: #555;
  position:relative;
  overflow:hidden;
  width: 105px;
  height: 45px;
}
.btn-github:active, .btn-github:focus, .btn-github:hover{
  background-color: #111;
  border-color: #666;
}
.btn-github>a{
  color: #fff;
  height:100%;
  width:100%;
  position:absolute;
  right:0px;
  top:0px;
}
.btn-github>a:hover {
  color:#eee;
}
.btn-linkedin{
  background-color: #0077b5;
  border-color: #005e93;
  position:relative;
  overflow:hidden;
  width: 105px;
  height: 45px;
}
.btn-linkedin:active, .btn-linkedin:focus, .btn-linkedin:hover{
  background-color: #005e93;
  border-color: #004471;
}
.btn-linkedin>a{
  color: #fff;
  height:100%;
  width:100%;
  position:absolute;
  right:0px;
  top:0px;
}
.btn-linkedin>a:hover {
  color:#eee;
}
.fuck {
  padding-top: 9px;
}
.right {
  margin-right: 0;
  margin-left: auto;
}
.container-fluid {
  max-width: 1000px;
}
footer {
  margin-top: 20px;
  background-color: #ddd;
  padding-top: 5px;
  padding-bottom: 5px;
}
footer>p {
  margin: 0;
}
header {
  box-shadow: 0px 0px 10px #000;
}
hr {
  border: 0;
  height: 2px;
  background: -webkit-linear-gradient(left, #fff 0%,#ccc 50%,#fff 100%);
  background: -moz-linear-gradient(left, #fff 0%,#ccc 50%,#fff 100%);
  background: -ms-linear-gradient(left, #fff 0%,#ccc 50%,#fff 100%);
  background: -o-linear-gradient(left, #fff 0%,#ccc 50%,#fff 100%);
  background: linear-gradient(left, #fff 0%,#ccc 50%,#fff 100%);
}
.box {  
  max-width:300px;
  height:200px;
  box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
  border-bottom:2px solid #fff;
  border-right:2px solid #fff; 
  background-position: center center;
  border-radius:5px;
  overflow:hidden;
  margin-left:auto;
  margin-right:auto;
}
#bi {
  background:url(../images/band-insider.png);
  background-size:cover;
  background-position: center center;
}
#poly {
  background:url(../images/blender-models.png);
  background-size:cover;
  background-position: center center;
}
#bad {
  background:url(../images/bad-media-productions.png);
  background-size:cover;
  background-position: center center;
}
.img-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.overlay {  
  background:rgba(0,0,0,.75);
  text-align:center;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  transition: opacity .25s ease;
  height: 100%;
}
.box:hover .overlay {
  opacity:1;
}
.plus {  
  font-family:Helvetica;
  font-weight:900;
  font-size:67px;
}
#poly>div>span>a {
  font-size: 56px;
  top: -10px;
  position: relative;
}
.plus>a:hover {
  color:#eee;
}
.plus>a {
  color:#fff;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.mail {
  color:#fff;
}
.mail:hover {
  color:#bbb;
}
.mail:visited {
  color:#bbb;
}
.mail:link {
  color:#fff;
}
.mail:active {
  color:#bbb;
}
.img-circle {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.link {
  color: #999;
}
.link:hover {
  color:#777;
}
.link:visited {
  color:#888;
}
.link:link {
  color:#888;
}
.link:active {
  color:#888;
}
.come-in {
  transform: translateY(50px);
  animation: come-in 0.8s ease forwards, opacity 2s ease-in;
}
@keyframes come-in {
  to { transform: translateY(0); }
}
@media (max-width: 768px) {
  ul {
    margin-bottom:0; 
  }
}
.navbar-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  float: none;
  margin: 0px !important;
}
.navbar-brand {
  margin-left: 0px !important;
  font-size: 24px;
}
.navbar-nav>li>a {
  padding-top: 15px;
}
.navbar-nav>li>.navbar-brand {
  width: auto;
}
iframe {
  margin: 25px auto;
  display: block;
  max-width:800px;
  width: 100%;
  max-height: 1030px;
}
.blog {
  padding-top: 20px;
}
.glyphicon {
  font:20px/1.5 Lato, 'Glyphicons Halflings', Helvetica, Arial, sans-serif;
}
@media (max-width: 420px) {
  .nav>li>.navbar-brand{ 
    font-size: 20px; 
    padding-left: 7px;
    padding-right: 7px;
    white-space: nowrap;
  }
  .nav>li>a {
    padding-left: 7px;
    padding-right: 7px;
  }
}
#gallery {
  max-width: 100%;
}
.center {
  margin-right: auto;
  margin-left: auto;
}